
@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');

*{
    box-sizing: border-box;
}

html, body,.wrapper{
    height: 100%;
}


body{
    display: grid;
    place-items: center;
    margin: 0;
    padding: 0 24px;
    background-image: url(../symbol-scatter-haikei.svg);
    background-size: cover;
    font-family: "Nerko One";
    color: rgb(9, 164, 164);
    animation: rotate 6s infinite alternate linear;
}

.login{
    position: relative;
    z-index: 3;
    width: 100%;
    max-width: 0 20px;
    padding:70px 30px 44px;
    border-radius: 1.25rem;
    background-color: aliceblue;
    text-align: center;
}

.login> h2{
    font-size: 30px;
    font-weight: 600;
    margin: 0 0 12px;

}

.login >h3{
    color: rgba(49, 105, 184, 0.38);
    font-size: 20px;
    font-weight: 500;
    font-size: lrem;
}

.form{  
    width: 100%;
    margin: 0;
    display: grid;
    gap: 16px;
}

.form >input ,.form>button{
    width: 100%;
    height: 50px;

}

.form>input{
    border: 2px solid #e342b3;
    font-family: inherit;
    font-size: 15px;
    padding: 0 16px;
    border-radius:1.25rem; 
    transition: all 2s;
}

.form >input :hover{
    border: 2px solid rgb(29, 179, 66);
}

.form >button{
    cursor: pointer;
    width: 100%;
    padding: 0 20px;
    border-radius: 1.25rem;
    background: #fb82bc;
    border: 0;
    font-size: 1rem;
    font-family: inherit;
    font-weight: 600;
    text-align: center;
    letter-spacing: 9px;
    transition: all 0.375s;
}

.form >button :hover{
    background-color: rgb(11, 36, 36);
}   

.form> a{
    color: #fb82bc;
    font-size: 0.9rem;
    text-align: left;
    text-decoration: none;
    margin-bottom: 6px;
    transition: all 0.375s;
}

.form >a:hover{
    color: rgb(171, 183, 39);
}
@keyframes rotate {
    100%{
        background-position: 10% 50% ;
    }
}

@media(width >= 500px){
    body{
        padding: 0;
    }
    .login{
        margin: 0;
        width: 400px;
    }

}

