body{
    margin: 0;
    background: #2a2734;
    text-align: center;
    font-family: sans-serif;
    color: #fefefe;
    user-select: none;
}

.container{
    position: relative;
    width: 320px;
    margin: 100px auto 0 auto;
    perspective: 1000px;

}
.container1{
    position: relative;
    width: 320px;
    margin: 100px auto 0 auto;
    perspective: 1000px;

}
 
.carousel{
    position: absolute;
    width: 100px;
    height: 100%;
    transform-style: preserve-3d;
    animation: rotate360 60s infinite forwards linear;
}
.carousel1{
    position: absolute;
    width: 100px;
    height: 600%;
    transform-style: preserve-3d;
    animation: rotate360 60s infinite forwards linear;
}

.image{
    position: absolute;
    width: 300px;
    height: 187px;
    top: 20px;
    left:10px;
    right: 10px;
    background-size: cover;
    display: flex;
}

.image1{
    position: absolute;
    width: 300px;
    height: 187px;
    top: 20px;
    left:10px;
    right: 10px;
    background-size: cover;
    display: flex;
}


span{
    margin: auto;
    font-size: 2rem;
}
@keyframes rotate360{
    from{
        transform: rotateY(0deg);
    }
    to{
        transform: rotateY(-360deg);
    }
}

.image1:nth-child(1){
    transform: rotateY(0deg) translateZ(430px);
}
.image:nth-child(2){
    transform: rotateY(35deg) translateZ(430px);
}
.image:nth-child(3){
    transform: rotateY(70deg) translateZ(430px);
}
.image:nth-child(4){
    transform: rotateY(105deg) translateZ(430px);
}
.image:nth-child(5){
    transform: rotateY(140deg) translateZ(430px);
}
.image:nth-child(6){
    transform: rotateY(175deg) translateZ(430px);
}
.image:nth-child(7){
    transform: rotateY(210deg) translateZ(430px);
}
.image:nth-child(8){
    transform: rotateY(245deg) translateZ(430px);
}
.image:nth-child(9){
    transform: rotateY(280deg) translateZ(430px);
}
.image:nth-child(10){
    transform: rotateY(315deg) translateZ(430px);
}

.image1:nth-child(1){
    transform: rotateY(0deg) translateZ(430px);
}
.image1:nth-child(2){
    transform: rotateY(35deg) translateZ(430px);
}
.image1:nth-child(3){
    transform: rotateY(70deg) translateZ(430px);
}
.image1:nth-child(4){
    transform: rotateY(105deg) translateZ(430px);
}
.image1:nth-child(5){
    transform: rotateY(140deg) translateZ(430px);
}
.image1:nth-child(6){
    transform: rotateY(175deg) translateZ(430px);
}
.image1:nth-child(7){
    transform: rotateY(210deg) translateZ(430px);
}
.image1:nth-child(8){
    transform: rotateY(245deg) translateZ(430px);
}
.image1:nth-child(9){
    transform: rotateY(280deg) translateZ(430px);
}
.image1:nth-child(10){
    transform: rotateY(315deg) translateZ(430px);
}
